*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #567;
}

h1{
  text-align: center;
  color: white;
}

#target-month{
  text-align: center;
  color: pink;
}

.changeMonth{
  display: flex;
  justify-content: center;
  align-items: center;
}

.changeMonth .mesi{
  margin-left: 5px;
}

.changeMonth .circle{
  border-radius: 100%;
  background-color: #569;
  padding: 1%;
  margin-left: 5px;
}

.changeMonth i{
  font-size: 20px;
  color: #fff;
}

.test-calendar{
  width: 1000px;
  height: 520px;
  margin: auto;
  padding: 20px 0;
}

.test-day{
  width: calc(100% / 5);
  height: calc(100% / 5);
  font-size: 25px;
  border: solid 1px ;
  background-color: #fff;
  float: left;
  text-align: center;
  padding: 4px 0;
}

.test-day h3{
  color: lightcoral;
}

.holidays{
  background: green;
  color: #fff;
}
