*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #567;
}

h1{
  text-align: center;
  color: white;
}

#target-month{
  text-align: center;
  color: pink;
}

.holidays{
  color: lightgoldenrodyellow;
}

.changeMonth{
  display: flex;
  justify-content: center;
  align-items: center;
}

.changeMonth .mesi{
  margin-left: 5px;
}
